<nav class="navbar bg-dark border-bottom border-body" data-bs-theme="dark">
  <!-- Navbar content -->
  <div class="container-fluid">
    <a class="navbar-brand">Mi buscador en Angular</a>
    <form class="d-flex" role="search">
      <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success" type="submit">Search</button>
    </form>
  </div>
</nav>


<div class="container my-4">
  <div class="col-md-6 mx-auto">
    <app-add-task (taskAdded)="addTask($event)"></app-add-task>
  </div>


  <div class="col-md-6 mx-auto">
    <app-task-list [tasks]="tasks"></app-task-list>
  </div>

</div>